// Variables

$light-grey: #ccc;
$black: #222;

$text-color: $black;

$white: #fff;

$light-green: #CED6C3;


$typeface: 'Martel', serif;

$light-blue: #81B5DC;

$deep-blue: #546971;

$very-lightblue: #DEF1FF;

