@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
	box-sizing: border-box;
	-moz-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	text-size-adjust: 100%;
}


*, *:before, *:after {
	box-sizing: inherit;
}


body{
  font-family: $typeface;
  @include zero;
  // Hides close button if there is no js
  &.noscript .close-btn,
  &.noscript .toggle-btn{
      display: none;
  }
}

header {
  padding-top: 1em;
  padding-bottom: 1em;
  position: relative;
  background-color: $light-green;
  // overflow: hidden;
}

.title-heading {
  color: $deep-blue;
  position: relative;
  left: 1em;
}

.toggle-btn {
  position: absolute;
  right: 1em;
  top: 1em;
}

.slide-menu {
  background-color: $light-blue;
}

.navigation ul{
  li {
    list-style-type: none;
    &:first-child a {
      border-top: 1px solid $white;
    }
  }
  a {
    padding: .5em 1em;
    color: $deep-blue;
    text-decoration: none;
    display: block;
    border-bottom: 2px solid $very-lightblue;
    border-left: 2px solid $very-lightblue;
    border-right: 2px solid $very-lightblue;
    text-align: center;
    width: 60%;
    max-width: 12em;
    &:hover {
      background-color: $very-lightblue;
    }
  }
  
}

.toggle-btn,
.close-btn {
  color: $deep-blue;
  text-decoration: none;
  height: 40px;
  width: 40px;
  &:before {
    border: 2px solid $deep-blue;
    border-radius: 2px;
    display: inline-block;
    padding: 13px 11px;
    height: 40px;
    width: 40px;
  }
  &:hover {
    background-color: $very-lightblue;

  }
  span {
    @include element-invisible;
  }
}

.close-btn {
position: absolute;
right: 1em;
top: 1em;
}


/**
* sliding navigation
*/
// Page should move when nav opens
//this is the only tie you will everr use max width.

@media only screen and (max-width: 60em) {
  .site-wrapper {
    position: relative;
    overflow: hidden;
    width: 100%;
    z-index: 100;
    
    .sliding-canvas {
      width: 100%;
      height: 100%;
      position: relative;
      transform: translateX(0);
      transition: all 700ms ease-out;
    }
    &[data-state='slide-open'] .sliding-canvas {
      transform: translateX(-100%);
    }
    &[data-state='slide-open']{
      overflow: visible;
    }
  }

  .navigation {
    position: absolute;
    width: 100%;
    right: -100%;
    top: 0;
    bottom: 0;
    height: 100%;
    padding: 0;
    min-height: 800px;
  }
}//max width media query

//reset the page when desktop even if nav is toggled open
@media only screen and (min-width: 60em) {

  .title-heading {
    position: absolute;
    left: 1em;
  }

  .header {
    height: 9em;
  }

   .toggle-btn,
  .close-btn {
    display: none;
  }

  .navigation {
  ul {
    position: relative;
    left: 35%;
    top: 1em;
    a {
      color: $deep-blue;
      float: left;
      border: none;
      top-border: none;
      font-size: 100%;
      border-right: 2px solid $deep-blue; 
      padding: 0 1em;
       width: auto;
    }
    li:first-child a {
      border-top: none; 
    }
    li:last-child a {
      border-right: none;
    }
  }
} 
}

body.noscript .navigation {
  position: static;
  right: auto;
}





